.filling-materails-control {
  display: flex;

  &--image-wrapper {
    width: 72px;
    height: 72px;
    background: lighten($background-color-light-gray, 20%);
    border: 2px solid #B0D9ED;
  }

  &--params-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $font-family-main;
    margin-left: 13px;
    width: 218px;

    button {
      width: 74px;
    }

    &-title {
      font-family: $font-family-main;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: $color-black;
    }
  }

  &--item {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }
}
