.input {
  border: 1px solid $color-lightsteelblue;
  box-sizing: border-box;
  border-radius: 6px;
  height: 46px;
  font-family: $font-family-main;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  padding: 12px;

  &--wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &--label {
    font-size: 16px;
    line-height: 16px;
    font-family: $font-family-main;
    margin-bottom: 12px;
    margin-top: 12px;
  }

  &--error {
    color: $color-coral;
    font-size: 10px;
    line-height: 10px;
    font-family: $font-family-main;
    margin-top: 9px;
  }

  &.small {
    width: 104px;
    height: 42px;
    font-size: 16px;
    line-height: 16px;
    font-family: $font-family-main;
    font-weight: 600;
    color: $color-black;

    &::placeholder {
      color: $color-slategray;
    }
  }

  &.invalid {
    border: 1px solid $color-coral;
  }

  &:focus {
    border: 1px solid $color-primary-blue;
  }
}
