.scrolling-container {
  font-family: $font-family-main;

  &--inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    background: $color-white;
  }

  .tab-content {
    height: 100%;
    padding: 10px 18px;

    &--title-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 8px 0px 10px 0px;
    }

    &--title {
      font-family: $font-family-main;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: $color-black;
    }

    &--action-buttons {
      display: flex;
      justify-content: flex-end;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: rgba(58, 132, 227, 0.08);
        border: none;
        outline: none;

        &:hover {
          background: darken(rgba(58, 132, 227, 0.08), 10%);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
        }

        &:nth-child(2) {
          margin-left: 12px;
        }

        &:disabled {
          background: $background-color-light-gray;
          box-shadow: none;
          cursor: not-allowed;

          svg {
            fill: $color-slategray;
            path {
              fill: $color-slategray;
              stroke: $color-slategray;
            }
          }
        }
      }

      button.circle {
        border-radius: 50%;
        width: 32px;
        height: 32px;
      }

      button.rectangle {
        border-radius: 4px;
        padding: 5px 10px;

        .button-label {
          font-family: $font-family-main;
          color: $color-primary-blue;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          display: flex;
          align-self: center;
        }

        .button-label.disabled {
          color: $color-slategray;
        }
      }
    }
  }
}
