/* Colors */
$color-primary-blue: #3A84E3;
$color-primary-light-blue: #EBF3FC;
$color-primary-gray: #F2F3F4;

$color-black: #201720;
$color-darkgray: #979797;
$color-slategray: #8C96A9;
$color-silver: #C4C4C4;
$color-lightsteelblue: #C7CFD7;
$color-white: #FFFFFF;
$color-light-blue: #9CC2F2;
$color-dark-blue: #004F9E;
$color-green: #24A337;
$color-coral: #FF5146;

/* Backgrounds */
$background-color-light-gray: #E5E5E5;

/* Borders */
$border-light-gray: #CCCCCC;
$border-light-gray-2: #E9E9E9;

/* Font */
$font-family-main: 'Open Sans', sans-serif;
