.page {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  font-family: $font-family-main;

  &--main {
    padding: 0;
    box-sizing: border-box;

    &-inner {
      position: relative;
      min-height: 100vh;
      padding: 40px 0 0;
      box-sizing: border-box;
    }
  }
}
